.embed-widgets .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.embed-widgets .card .card-body {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2 0;
  -ms-flex: 2 0;
  flex: 2 0;
}